* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #011640;
    --secondary: #c60018;
    --font-color: #08090d;
    --ff-primary: "Montserrat", sans-serif;
}
.about-header{
    color: white;
    font-family: sans-serif;
    
}

.about-header, img{
    background-image: url('img/image.png');
    background-size: cover;
    height: 400px;
    padding: 30px;

}

.about-testimonial{
    background-color: #c6001748;
    padding: 50px;
}